<form id="wizard-form-2">
    <input type="hidden" name="ReportId" data-bind="value: reportModel.step2.reportId" />
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <div class="row">
                    <!-- ko foreach: reportModel.step2.availableTables -->
                    <div class="col-md-6">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input"
                                   data-bind="checked: $root.reportModel.step2.selectedTables,
                                   attr: { value: $data, name: 'SelectedTables' }" />
                            <label class="form-check-label" data-bind="text: $data"></label>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</form>