@using WebEnumExtensions = Extenso.AspNetCore.Mvc.EnumExtensions;

<form id="wizard-form-7">
    <input type="hidden" name="ReportId" data-bind="value: reportModel.step7.reportId" />

    <div class="row mb-3">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3 mb-sm-0">
            <label for="Report_EnumerationHandling" class="form-label">Enumeration Handling</label>
            @Html.DropDownList(
                "Report_EnumerationHandling",
                WebEnumExtensions.ToSelectList<EnumerationHandling>(),
                new { @class = "form-select", data_bind = "value: reportModel.step7.enumerationHandling" })
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <label for="Report_RowLimit" class="form-label">Row Limit</label>
            <input type="number" step="10" class="form-control" data-bind="value: reportModel.step7.rowLimit" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" data-bind="checked: reportModel.step7.isDistinct" />
                <label class="form-check-label">Distinct</label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label class="form-label">User Blacklist</label>

            <div class="alert alert-info mb-3">
                This is a blacklist. Select the users that should NOT be able to view this report.
            </div>

            <div class="row">
                <!-- ko foreach: reportModel.step7.availableUsers -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input"
                               data-bind="checked: $root.reportModel.step7.deniedUserIds,
                                         attr: { value: $data.id, name: 'UserBlacklist' }" />
                        <label class="form-check-label" data-bind="text: $data.name"></label>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</form>