@using Extenso.Data.QueryBuilder

<form id="wizard-form-5">
    <input type="hidden" name="ReportId" data-bind="value: reportModel.step5.reportId" />
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-secondary">
                <tr>
                    <th style="width: 40px;"></th>
                    <th>Column</th>
                    <th>Direction</th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody data-bind="sortable: reportModel.step5.sortings">
                <tr>
                    <td style="cursor: pointer;">
                        <i class="fas fa-arrows-up-down-left-right"></i>
                    </td>
                    <td>
                        <select id="Sorting_Column"
                            class="form-select" 
                            data-bind="options: $root.reportModel.step5.availableColumns, value: columnName, attr: { name: 'Sortings[' + $index() + '].ColumnName' }" required>
                        </select>
                    </td>
                    <td>
                        @Html.DropDownList(
                            "Sorting_SortDirection",
                            WebEnumExtensions.ToSelectList<SortDirection>(),
                            new { @class = "form-control", data_bind = "value: sortDirection, attr: { name: 'Sortings[' + $index() + '].SortDirection' }", required = "required" })
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-danger w-100" 
                                data-bind="click: () => $root.reportModel.step5.removeSorting($data)">
                            <i class="fas fa-xmark"></i>
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot class="table-secondary">
                <tr>
                    <td colspan="4" class="text-end">
                        <button type="button" class="btn btn-primary" 
                                data-bind="click: reportModel.step5.addSorting">
                            <i class="fas fa-plus me-1"></i>
                            Add
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>