<form id="wizard-form-1">
    <div class="row mb-3">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <label for="Report_Name" class="form-label">Name</label>
            <input id="Report_Name" type="text" class="form-control" data-bind="value: reportModel.step1.name" required />
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <label for="Report_GroupId" class="form-label">Group</label>
            <select id="Report_GroupId" class="form-select" data-bind="options: reportModel.step1.availableGroups, optionsText: 'name', optionsValue: 'id', value: reportModel.step1.groupId" required></select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <label for="Report_DataSourceId" class="form-label">Data Source</label>
            <select id="Report_DataSourceId" class="form-select" data-bind="options: reportModel.step1.availableDataSources, optionsText: 'name', optionsValue: 'id', value: reportModel.step1.dataSourceId" required></select>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" data-bind="checked: reportModel.step1.enabled" />
                <label class="form-check-label">Enabled</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" data-bind="checked: reportModel.step1.emailEnabled" />
                <label class="form-check-label">Email Enabled</label>
            </div>
        </div>
    </div>
</form>