@model RunReportModel

@{
    Layout = string.IsNullOrWhiteSpace(QueryzOptions.Value.Layout) ? "~/Views/Shared/_QueryzDefaultLayout.cshtml" : QueryzOptions.Value.Layout;
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

@Html.Hidden("GridPageSize", QueryzOptions.Value.GridPageSize)

<div class="row">
    <div class="col-12">
        <h2>@Model.ReportName</h2>
    </div>
</div>

<div id="wizard-section" class="row">
    <article class="col-12">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: Constants.DefaultExtensoUIState, htmlAttributes: new { style = "height:100%" })))
        {
            using (var header = panel.BeginHeader("Configure & Run Report")) { }
            using (var body = panel.BeginBody())
            {
                <div id="loading" class="d-flex flex-column align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-75" style="display:none;">
                    <div class="fs-5 mb-2">Loading...</div>
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                
                <div id="wizard">
                    <h3 class="fs-4 mb-3">Filtering</h3>
                    <section class="mb-4">
                        <div class="alert alert-info">
                            <strong class="fw-bold">NOTE: </strong>The <strong class="fw-bold">In</strong> operation allows you to specify multiple values. Separate each value with a semicolon (;) - and don't use spaces between values.
                        </div>

                        <div id="query-builder" class="border rounded p-3 bg-light"></div>
                    </section>

                    <h3 class="fs-4 mb-3">Preview</h3>
                    <section class="mb-4"></section>
                </div>
            }
        }
    </article>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/App/report-builder/app.reports.run.js"></script>

    <script type="text/javascript">
        @Html.JsonObject("model", Model)
    </script>

    @* Scripts for Preview.cshtml *@
    <script type="text/javascript">
        function onFileFormatChanged() {
            var isDelimited = ($("#FileFormat").val() == "0");

            if (isDelimited) {
                $("#delimited-options").show();
            }
            else {
                $("#delimited-options").hide();
            }
        }
    </script>
    @* END: Scripts for Preview.cshtml *@
}