@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/img/Logo.png" alt="Logo" />
    <h1 class="display-4">Queryz Demo</h1>
    <p>Click the Report Builder link to see it in action.</p>
    <p>The plan is to eventually package it all up into a Razor Class Library. For now, copy-paste the code to your own project and modify as needed.</p>
</div>
